<p id="notice"><%= flash[:notice]%></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
<%= render partial:'users/list', locals: {user: @user, book: @book} %>
    </div>
<div class="col-md-8">
  <h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user) do %>
        <%=  image_tag @Book.user.get_profile_image(100,100) %>
        <br><%= @user.name %>
        <% end %>
        </td>
      <td>
        <%= link_to book_path(@Book) do %>
        <%= @Book.title %>
        <% end %>
      </td>
      <td><%= @Book.body %></td>
      <td>
        <% if @Book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@Book) %>
        <%= link_to "Destroy", book_path(@Book), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
