<div>
  <%= flash[:notice] %>
  <p>Books detail</p>
  <p>Image：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id) %>
    <%= link_to "delete", book_path(@book), method: :delete %>
  <% end %>
</div>

